.lmj-categories {
	text-align: center;
	padding-top: 30px;
}

.lmj-categories-select {
	margin-right: 15px;
	background-color: #31b572;
	border-style: solid;
	border-color: black;
	padding: 5px;
}

.lmj-reset-categ {
	font-weight: 600;
	background-color: #31b572;
	border-style: solid;
	border-color: black;
	padding: 5px;
}